div.page-sidebar-wrapper .navbar-collapse{
        margin-left: 0;
}
div.page-sidebar-wrapper .page-sidebar-menu .arrow, 
div.page-sidebar-wrapper .page-sidebar-menu .arrow::after{
        border-style: none;
        position: relative;
        width: auto;
        display:inline;
}
