<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Slider</h1>
</div>
<div class="wrapper-md">
  <p>Single: ( {{cost}} )</p>
  <slider
      ng-model="cost"
      floor="1"
      ceiling="100">
  </slider>
  <p>Multiple: ( min:{{range.min}} - max:{{range.max}} )</p>
  <slider
      ng-model="range.min"
      ng-model-range="range.max"
      floor="1"
      ceiling="100">
  </slider>

  <p>Formatting:</p>
  <slider
      ng-model="cost"
      translate-fn="currencyFormatting"
      floor="1"
      ceiling="100">
  </slider>
</div>

<script type="text/javascript">
$(document).ready(function(){
	//$('#animatecss').attr('href', '../libs/assets/animate.css/animate.css');
	$('#animatecss').attr('href', '');
});
</script>