/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.rearrange {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.rearrange li {
	padding: 10px;
	border: 1px solid #CCC;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	width: calc(20% - 5px);
}

a.breadcrumb-nolink{
        cursor: default;
        text-decoration:none;
}
.cursor-pointer{
        cursor:pointer;
}
